{% extends "base.html" %}

{% block menu %}
  <li><a href="/">Blog</a></li>
  <li><a href="/sobre" class="active">Sobre</a></li>
  <li><a href="/contato">Contato</a></li>
  <li><a href="/rss/ultimos/">RSS</a></li>
{% endblock menu %}

{% block conteudo_esquerdo %}
<p><img width="80" height="80" alt="Herman Caldara" src="http://www.gravatar.com/avatar/e86f99f22d6424e8b0da77be33c19a58.png" title="Herman Caldara" style="float: left;">Eu sou o Herman Caldara, ... </p>
{% endblock conteudo_esquerdo %}
