{% extends "base.html" %}

{% load comments %}

{% block estilo %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/post.css">
{% endblock estilo %}

{% block conteudo_esquerdo %}
  <div id="post">
    <a id="titulo" href="{{ post.get_absolute_url }}"><h1>{{ post.titulo }}</h1></a>
    {{ post.publicacao }} 
    {{ post.conteudo|safe }}
    {% if post.tags.all %}
      | 
      {% for tag in post.tags.iterator %}
        {% if not forloop.last %}
          <a href="/tag/{{ tag.name }}">{{ tag.name }}</a> -
        {% else %}      
          <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div id="comentario">
    <h3>Comentários</h3>
    
    {% get_comment_list for post as comentarios %}
    {% for comentario in comentarios %}
      Nome: {{ comentario.name }} <br/>
      {% if comentario.url %}
        URL: {{ comentario.url }} <br/>
      {% endif %}
      {{ comentario.comment|linebreaks }}
      <hr/>
    {% endfor %}

    <h3>Envie seu comentário!</h3>
    {% render_comment_form for post %}
    
  </div>
{% endblock conteudo_esquerdo %}

{% block conteudo_direito %}
  <div id="nuvem">
    <p id="titulo">Nuvem de tags</p>
    {% for tag in tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
{% endblock conteudo_direito %}
