{% extends "base.html" %}

{% block titulo %}Contato - {{ block.super }}{% endblock titulo %}

{% block estilo %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/contato.css">
{% endblock estilo %}

{% block menu %}
  <li><a href="/">Blog</a></li>
  <li><a href="/sobre">Sobre</a></li>
  <li><a href="/contato" class="active">Contato</a></li>
  <li><a href="/rss/ultimos/">RSS</a></li>
{% endblock menu %}

{% block conteudo_esquerdo %}
  {% if contato_realizado %}
    <h3>{{ contato_realizado }}</h3>
  {% else %}
    <h3>Envie o seu contato!</h3>
  {% endif %}
  <form id="contato" method="post" action="">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.name|capfirst }}<br/>
        {{ field }}<br/>
      </p>
    {% endfor %}
    <input type="submit">
  </form>
{% endblock conteudo_esquerdo %}
