#post {
    margin-bottom: 50px;
}

#post #titulo {
    color: black;    
}

#post #titulo:hover {
    color: gray;    
}

#post #conteudo {
    font-size: 14px;
    text-align: justify;
}

#post a:link, #post a:visited {
    color: black;
}

#post a:hover {
    color: gray;
}

#comentario {
    margin-top: 50px;
}

#comentario p {
    overflow: hidden;
}

#comentario form label {
    display: block;
}

#comentario form input[type="text"] {
    width: 300px;
}

#nuvem {
    margin-bottom: 30px;
    margin-left: 10px;
}

#nuvem #titulo {
    font-size: 22px;
    margin: 0 0 15px 0;
}

#nuvem a:link, #nuvem a:visited {
    font-size: 12px;
    color: black;
}

#nuvem a:hover {
    color: gray;
}
