#post #titulo {
    color: black;    
}

#post #titulo:hover {
    color: gray;    
}

#post a:link, #post a:visited {
    color: black;
}

#post a:hover {
    color: gray;
}

#comentario {
    margin-top: 50px;
}

#comentario p {
    overflow: hidden;
}

#comentario form label {
    display: block;
}

#comentario form input[type="text"] {
    width: 300px;
}

#nuvem a:link, #nuvem a:visited {
    font-size: 12px;
    color: black;
}

#nuvem a:hover {
    color: gray;
}
