{% extends "base.html" %}

{% load markup %}

{% block estilo %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/posts.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/manni.css">
{% endblock estilo %}

{% block conteudo_esquerdo %}
  {% load pagination_tags %}
  {% autopaginate posts 5 %}
  {% for post in posts %}
  
	<div class="post">
	
		<h3><a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a></h3>
		<ul class="post_info">
			<li class="date">Postado em {{ post.publicacao }}</li>
			<li class="comments"><a href="#">44 comments</a></li>
			{% if post.tags.all %}
        | Tags: 
        {% for tag in post.tags.iterator %}
          {% if not forloop.last %}
            <a href="/tag/{{ tag.name }}">{{ tag.name }}</a> -
          {% else %}      
            <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
		</ul>					
		<div class="content">
		  {{ post.conteudo|restructuredtext|safe }}
		</div>

	</div>
	
  {% endfor %}
  {% paginate %}
{% endblock conteudo_esquerdo %}

{% block conteudo_direito %}
  <div id="nuvem">
    <p id="titulo">Nuvem de tags</p>
    {% for tag in tags %}
      <a href="/tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
{% endblock conteudo_direito %}
